[submodule "contrib/luajit"]
	path = contrib/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "contrib/terra"]
	path = contrib/terra
	url = ssh://mc2m@git.uplinklabs.net/pub/scm/git/mc2m/terra.git
